* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


body {
    background-color: black;
    border: 50px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman';
    color: beige;
}

.image-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    gap: 50px;
    flex-wrap: wrap;
    border: 20px;
    border-color: bisque;
    justify-content: center;
}


.image-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(rgb(147, 68, 68), rgb(49, 116, 49), rgb(61, 61, 139), alpha);
    z-index : 2;
}

.full-img {
    width:100%;
    height: 100vh;
    background:rgb(0,0,0,0.9);
    position: fixed;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.full-img span {
    position: absolute;
    top:5%;
    right:5%;
    font-size: 30px;
    color:white;
    cursor:pointer;
}

/*@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-gallery img:nth-child(1) {
    animation-delay: 0.1s;
}

.image-gallery img:nth-child(2) {
    animation-delay: 0.2s;
}

.image-gallery img:nth-child(3) {
    animation-delay: 0.3s;
}

.image-gallery img:nth-child(4) {
    animation-delay: 0.4s;
}

.image-gallery img:nth-child(5) {
    animation-delay: 0.5s;
}

.image-gallery img:nth-child(6) {
    animation-delay: 0.6s;
}

.image-gallery img:nth-child(7) {
    animation-delay: 0.7s;
}

.image-gallery img:nth-child(8) {
    animation-delay: 0.8s;
}
